<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>Kategori Ekle</h2>
            <form [formGroup]="AddCategoryForm" (ngSubmit)="addCategory()" >
            <div class="mb-3">

                <label for="">Kategori Adı</label>
                <input class="form-control" formControlName="name" >
            </div>
            <p class="text-danger"><span>{{nameValid}}</span></p>
            <button class="btn btn-primary">Ekle</button>
        </form>
        </div>
    </div>
</div>